.Nav {
  width: 276px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #026f4d;
  color: #07a674;
  border-radius: 9px;
  li {
    cursor: pointer;
    list-style: none;
  }
  li:hover {
    color: #19ca92;
  }
  li:active {
    color: white;
  }
}
