.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  overflow-x: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heroText {
  color: #c8c8c8;
  text-shadow: 1.663px 2.217px 0px #000;
  font-family: "Jersey 10";
  font-size: 66.378px;
  font-weight: 700;
}

.welcome {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

.baseSpan {
  color: #54af92;
  
}

.graph {
  margin-top: 30px;
  background-image: url("../../assets/graph-homepage.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 0px;
  padding-top: 150px;
  width: 100%;
}

.percent {
  font-size: 50px;
  color: #026f4d;
}
.complete {
  font-size: 40px;
  font-weight: bold;
}

.basetext {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}

.statusBar {
  margin-top: 50px;
  height: 12px;
  background: linear-gradient(to right, #026f4d 25%, #54af92 25%);
  border-radius: 10px;
  width: 75%;
}

.nextLesson {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
}

.less {
  font-size: 40px;
  font-weight: 700;
  color: #026f4d;
}
.logout {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.437);
  font-weight: 700;
  font-size: 18px;
  background-color: #026f4d;
  border: none;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.logout:hover {
  background-color: #54af92;
  color: rgba(0, 0, 0, 0.73);
}
