@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Jersey 10", sans-serif;
  padding: 0px;
}

button {
  font-family: "Jersey 10", sans-serif;
}

input {
  font-family: "Jersey 10", sans-serif;
}
